header, main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lamp {
    transition: opacity 0.5s ease;
  }
  
  .ligada {
    opacity: 1;
  }
  
  .desligada {
    opacity: 0.50;
  }