@import url('https://www.youtube.com/redirect?event=video_description&redir_token=QUFFLUhqbU1iNkU0RmlCNWh5MFpMbF9ocURSdExmVm5Id3xBQ3Jtc0tsV2pXR2NsajNTZUdnYTJMdWZLbl9xOVdSN0xha2VtQm9HWm1NVktaSjRrRTZCdjl3VzZ4UHBtd19FWFJ4XzdIOHFKelVVVlk1NzEwbTNtYUE4REhjUnZfZmozZ2dLcGJud1QwczRKMG5YRTVJSkNjVQ&q=https%3A%2F%2Ffonts.googleapis.com%2Fcss2%3Ffamily%3DPoppins%3Awght%40100%3B200%3B300%3B400%26display%3Dswap%27%29%3B&v=qKWApkuhNu8');

:root {
    --color--light-50: #f8fafc;

    --color-dark-50: #797984;
    --color-dark-100: #312d37;
    --color-dark-900: #000;

    --color-puple-50: #7c3aed;
    --color-puple-100: #a855f7;
    --color-puple-200: #bf46ef;

    --color-gradiente: linear-gradient(90deg, var(--color-puple-50), var(--color-puple-100), var(--color-puple-200))
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    height: 100vh;
    width: 100%;
    background: var(--color-gradiente);
    display: flex;
    align-items: center;
    justify-content: center;
}

#login_form {
    background-color: var(--color--light-50);
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    border-radius: 8px;
    gap: 30px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.336);
    height: fit-content;
}

#form_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#form_header h1 {
    font-size: 40px;
    position: relative;
}

#form_header h1::before {
    position: absolute;
    content: '';
    width: 40%;
    background-color: var(--color-puple-50);
    height: 3px;
    bottom: 5px;
    border-radius: 5px;
}

#mode_icon {
    cursor: pointer;
    font-size: 20px;
}

#social_media {
    display: flex;
    justify-content: space-around;
}

#social_media img:hover {
    transform: scale(1.2);
}

#social_media img{
    width: 30px;
}

#inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.input-box label {
    font-size: 14px;
    color: var(--color-dark-50);
}

.input-field {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 3px;
    border-bottom: 1px solid var(--color-puple-50);
    cursor: text;
}

.input-field i {
    font-size: 18px;
    color: var(--color-dark-900);
}

.input-field input {
    border: none;
    background-color: transparent;
    width: 260px;
    font-size: 18px;
    padding: 0px 5px;
}

.input-field input:focus {
    outline: none;
}

#forgot_password a {
    text-decoration: none;
    font-size: 12px;
    color: var(--color-dark-50);
}

#forgot_password a:hover {
    color: var(--color-puple-50);
}

#login_button {
    border: none;
    background: var(--color-gradiente);
    color: var(--color--light-50);
    padding: 7px;
    font-size: 18px;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
}

#login_button:hover {
    transform: scale(1.05);
}